In [4]:
from bs4 import BeautifulSoup
import requests
from itertools import chain
import pandas as pd
import re

In [5]:
def create_frame(city):
    
    total = pd.DataFrame()
    new =  []
    page = requests.get("https://www.numbeo.com/cost-of-living/in/" + city)
    soup = BeautifulSoup(page.content)
    data = soup.find_all("table",{"class":"data_wide_table new_bar_table"})
    data_cost = soup.find_all("span",{"class":"emp_number"})
    cost_index = re.search('>(.*)\<', str(data_cost[5])).group(1)
    
    l = [item.text.split('€') for item in data]
    newlist = list(chain(*l))
    
    new.append('City' + '  '  + city)
    new.append('Cost_index' + '  ' + cost_index)

    for i in range(len(newlist)):
        try:
            new.append(re.search('\n(.*)\xa0', newlist[i]).group(1))
        except AttributeError as e:
            pass



    for i in range(len(new)):
        total = total.append(pd.DataFrame({'':new[i].split('  ')[0], 'Cost':new[i].split('  ')[1]},index=[0]), ignore_index=True)

    headers = total.T.iloc[0]
    df  = pd.DataFrame(total.T.values[1:], columns=headers)
    
    return df

In [6]:
df1 = create_frame('Athens')
df2 = create_frame('Berlin')
df3 = create_frame('Paris')
df4 = create_frame('Rome')
df5 = create_frame('Vienna')
df6 = create_frame('Milan')
df7 = create_frame('Madrid')
df8 = create_frame('Rome')
df9 = create_frame('Munich')
df10 = create_frame('Barcelona')
df11 = create_frame('Ljubljana')
df12 = create_frame('Amsterdam')
df13 = create_frame('Helsinki')
df14 = create_frame('Stockholm')
df15 = create_frame('London')
df16 = create_frame('Bilbao')
df17 = create_frame('Glasgow')
df18 = create_frame('Bristol')
df19 = create_frame('Warsaw')
df20 = create_frame('Lille')
df21 = create_frame('Porto')
df22 = create_frame('Bucharest')
df23 = create_frame('Hamburg')
df24 = create_frame('Belgrade')
df25 = create_frame('Sofia')
df26 = create_frame('Brussels')
df27 = create_frame('Marseille')

In [90]:
dfs = [df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df20,df26,df27]

In [91]:
[i for i in range(len(dfs)) if dfs[i].shape[1] ==3]

[]

In [92]:
def create_dfs(dfs):
    df = pd.concat(dfs)
    dfc = df['City']
    df = df.iloc[:, 1:-1].apply(pd.to_numeric, errors='coerce').dropna(axis=1)
    df.insert(loc=0, column='City', value=dfc.values)
    return df

In [93]:
create_dfs(dfs)

,City,Cost_index,"Meal, Inexpensive Restaurant","Meal for 2 People, Mid-range Restaurant, Three-course",McMeal at McDonalds (or Equivalent Combo Meal),Domestic Beer (0.5 liter draught),Imported Beer (0.33 liter bottle),Cappuccino (regular),Coke/Pepsi (0.33 liter bottle),"Milk (regular), (1 liter)",...,"Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)","Fitness Club, Monthly Fee for 1 Adult",Tennis Court Rent (1 Hour on Weekend),"Cinema, International Release, 1 Seat","Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child",1 Pair of Jeans (Levis 501 Or Similar),"1 Summer Dress in a Chain Store (Zara, H&M, ...)",1 Pair of Nike Running Shoes (Mid-Range),1 Pair of Men Leather Business Shoes,Apartment (1 bedroom) Outside of Centre
0,Athens,55.70,10.00,40.0,6.00,4.00,4.5,3.22,1.69,1.31,...,33.79,30.74,18.26,8.00,384.03,70.99,28.88,72.96,92.44,352.27
0,Berlin,62.63,9.00,40.0,8.00,3.50,3.5,2.80,2.02,0.90,...,31.38,26.39,19.43,12.00,144.40,82.80,34.30,84.35,106.21,671.20
0,Paris,84.38,15.00,52.5,9.00,7.00,6.0,3.50,3.01,1.22,...,28.00,45.31,20.60,11.00,851.83,87.57,37.22,93.54,130.87,875.88
0,Rome,69.03,15.00,60.0,8.00,5.00,4.0,1.24,1.87,1.27,...,29.43,62.05,17.65,9.00,479.09,83.09,30.08,77.82,115.48,653.49
0,Vienna,64.12,10.00,47.0,7.25,4.00,4.0,3.30,2.85,1.08,...,32.10,30.90,19.96,10.00,235.88,78.95,32.83,84.20,117.10,643.31
0,Milan,74.94,15.00,60.0,8.00,5.00,5.0,1.51,2.54,1.23,...,29.40,63.30,25.79,10.00,648.00,86.12,35.83,90.99,138.49,748.08
0,Madrid,58.30,12.00,50.0,8.00,3.00,3.5,1.86,1.93,0.83,...,42.12,37.62,12.07,9.00,461.00,74.92,28.98,74.49,91.80,732.95
0,Rome,69.03,15.00,60.0,8.00,5.00,4.0,1.24,1.87,1.27,...,29.43,62.05,17.65,9.00,479.09,83.09,30.08,77.82,115.48,653.49
0,Munich,71.23,13.00,62.5,8.00,3.90,4.0,3.06,2.87,0.92,...,35.61,35.91,22.74,12.00,566.52,81.91,35.45,85.98,127.38,901.99
0,Barcelona,57.34,11.50,45.0,8.00,2.75,3.0,1.78,1.74,0.87,...,42.70,41.51,20.60,9.00,449.03,75.36,26.88,79.52,94.62,730.07
0,Ljubljana,54.08,8.50,40.0,5.00,2.70,3.5,1.56,2.26,0.92,...,32.46,43.46,15.55,7.00,388.50,66.00,28.90,78.55,88.69,465.88
0,Lille,67.98,12.75,40.0,8.00,5.00,4.5,2.88,2.45,1.14,...,27.67,25.67,30.00,11.00,539.58,81.75,30.89,68.89,90.83,473.33
0,Brussels,68.97,15.00,60.0,8.68,4.00,4.0,3.12,2.57,0.98,...,43.53,27.21,17.56,11.00,714.12,76.50,35.46,78.33,116.11,698.97
0,Marseille,71.08,13.50,50.0,8.00,6.00,5.0,2.24,2.00,1.03,...,27.33,28.98,16.00,10.75,750.00,57.50,29.41,83.33,156.00,510.64