In [1]:
import requests
import pymongo
import logging
import pandas as pd
from bs4 import BeautifulSoup

In [62]:
class NumbeoScraper:
    
    def __init__(self):
        logging.basicConfig(filename='example.log', level=logging.DEBUG)
        logging.debug('Scrapper initialised')
        self.client = pymongo.MongoClient("mongodb+srv://Giorgos:Uplifting7@cluster0.1gk0o.mongodb.net", 
                             tls=True,
                             tlsAllowInvalidCertificates=True)
        self.db = self.client["scrape_db"]
        self.collection = self.db["cities"]

    def get_costs(self,city,currency):
        try:
            self.city = city
            page = requests.get("https://www.numbeo.com/cost-of-living/in/" + self.city)
            soup = BeautifulSoup(page.content)
            data = soup.find_all("table",{"class":"data_wide_table new_bar_table"})
            html_parsed = [item.text.split(currency) for item in data]
            flat_list = [item for sublist in html_parsed for item in sublist]
            clean = [item for item in str(flat_list).split('\\n\\') if len(item)>35]
            processed = [item.replace('\\xa0₴', '').replace("\\xa0', '","").replace('Edit \\', '').replace('n\\n', '').replace('n1 ', '').replace('1 ', '') for item in clean]
            self.final = [item.strip("n") for item in processed]
            logging.info('%s %s', 'Fetched info for', self.city)
        except Exception as e:
            logging.info(str(e))
    
    def create_df(self):
        try:
            self.df = pd.DataFrame(self.final,columns=['total'])
            self.df[['Service', 'Cost']] = self.df['total'].str.split('  ', 1, expand=True)
            self.df.drop(['total'],axis=1,inplace=True)
            self.df['city'] = self.city
            logging.info('Dataframe created')
            return self.df
        except Exception as e:
            logging.info(str(e))
            
    def insert_mongo(self):
        try:
            self.db.self.collection.insert_many(self.df.to_dict('records'))
            logging.info('Data inserted in db')
        except Exception as e:
            logging.info(str(e))
            
    def select_item(self,field,value):
        return self.db.self.collection.find_one({field:value})

In [63]:
ns = NumbeoScraper()

In [64]:
ns.get_costs('Paris','€')

In [65]:
ns.create_df()

                                              Service        Cost   city
0                        Meal, Inexpensive Restaurant       15.00  Paris
1   Meal for 2 People, Mid-range Restaurant, Three...       60.00  Paris
2      McMeal at McDonalds (or Equivalent Combo Meal)        9.00  Paris
3                   Domestic Beer (0.5 liter draught)        7.00  Paris
4                   Imported Beer (0.33 liter bottle)        6.00  Paris
5                                Cappuccino (regular)        3.75  Paris
6                      Coke/Pepsi (0.33 liter bottle)        2.82  Paris
7                           Water (0.33 liter bottle)        1.89  Paris
8                             Milk (regular), (liter)        1.12  Paris
9                    Loaf of Fresh White Bread (500g)        1.99  Paris
10                              Chicken Fillets (1kg)       12.69  Paris
11  Beef Round (1kg) (or Equivalent Back Leg Red M...       19.57  Paris
12                           Water (1.5 liter bottle)        0.85  Paris
13                         Bottle of Wine (Mid-Range)        8.00  Paris
14                   Domestic Beer (0.5 liter bottle)        1.79  Paris
15                  Imported Beer (0.33 liter bottle)        2.52  Paris
16                      Cigarettes 20 Pack (Marlboro)       10.00  Paris
17                   One-way Ticket (Local Transport)        1.90  Paris
18                       Monthly Pass (Regular Price)       75.00  Paris
19                         Taxi Start (Normal Tariff)        5.00  Paris
20                           Taxi 1km (Normal Tariff)        1.50  Paris
21                 Taxi 1hour Waiting (Normal Tariff)       45.00  Paris
22  Volkswagen Golf 1.4 90 KW Trendline (Or Equiva...   21,000.00  Paris
23  Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equ...   25,104.17  Paris
24  Basic (Electricity, Heating, Cooling, Water, G...      182.58  Paris
25  min. of Prepaid Mobile Tariff Local (No Discou...        0.20  Paris
26  Internet (60 Mbps or More, Unlimited Data, Cab...       29.99  Paris
27                Fitness Club, Monthly Fee for Adult       37.98  Paris
28                Tennis Court Rent (Hour on Weekend)       18.40  Paris
29                Cinema, International Release, Seat       12.00  Paris
30  Preschool (or Kindergarten), Full Day, Private...      809.38  Paris
31     International Primary School, Yearly for Child   14,911.11  Paris
32                 Pair of Jeans (Levis 50Or Similar)       94.34  Paris
33     Summer Dress in a Chain Store (Zara, H&M, ...)       35.56  Paris
34             Pair of Nike Running Shoes (Mid-Range)       88.55  Paris
35                 Pair of Men Leather Business Shoes      145.42  Paris
36                 Apartment (bedroom) in City Centre    1,279.39  Paris
37              Apartment (bedroom) Outside of Centre      899.36  Paris
38              Apartment (3 bedrooms) in City Centre    2,685.52  Paris
39           Apartment (3 bedrooms) Outside of Centre    1,797.48  Paris
40  Price per Square Meter to Buy Apartment in Cit...   12,814.00  Paris
41  Price per Square Meter to Buy Apartment Outsid...    9,413.94  Paris
42             Average Monthly Net Salary (After Tax)    2,816.38  Paris
43  Mortgage Interest Rate in Percentages (%), Yea...        1.27  Paris

In [66]:
ns.insert_mongo()

In [67]:
ns.select_item('city','Paris')

{'_id': ObjectId('61c9e8003d34b4cdff45c275'),
 'Service': 'Meal, Inexpensive Restaurant',
 'Cost': " 15.00\\xa0', '",
 'city': 'Paris'}